<div class="card-group">
  <div *ngFor="let game of dataFromParent" class="card">
    <div class="image-box">
      <img
        class="card-img-top"
        src="../../assets/games-images/{{ game.imageSource }}"
        alt="{{ game.gameName }} image"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ game.gameName }}
      </h5>
      <p class="card-text">
        {{ game.gameDescription }}
      </p>

      <ul>
        <li class="card-li">
          <ion-icon name="people-outline" class="card-icon"></ion-icon>
          <p class="card-text">upto {{ game.noOfPlayers }} players</p>
        </li>
        <li class="card-li">
          <ion-icon name="golf-outline" class="card-icon"></ion-icon>
          <p class="card-text">{{ game.noOfTimesPlayed }} times played</p>
        </li>
        <li class="card-li">
          <ion-icon name="star-outline" class="card-icon"></ion-icon>
          <p class="card-text">{{ game.rating }}</p>
        </li>
      </ul>

      <div class="button-box">
        <button
          class="btn btn-host"
          (click)="
            hostTheGame(game.gameName, game.gameId);
            $event.preventDefault();
            $event.stopPropagation()
          "
        >
          Host
        </button>

        <button
          class="btn btn-join"
          (click)="
            joinTheGame(game.gameName, game.gameId);
            $event.preventDefault();
            $event.stopPropagation()
          "
        >
          Join
        </button>
      </div>

      <div class="how-to-play">
        <a href="#" class="link">How to play</a>
      </div>
    </div>
  </div>
</div>
