<section class="hero">
  <app-header></app-header>
  <div class="container grid grid--3--cols">
    <div class="hero-text-box">
      <h2 class="heading-primary">We glad that you are here!</h2>
      <p class="hero-text-description">
        We are more than what you think!. Explore among the 50+ customized
        games. Here we not only sharpen your brain we also let your soul relax
        for a while, Weired right. Eager to know how we do that, then why to
        wait?
      </p>
      <a href="#" class="hero-button">Start Plying</a>
    </div>
  </div>
</section>
  <div>
    <app-card [dataFromParent]="data"></app-card>
  </div>
