<header class="header">
  <div class="nav-main-brand">
    <a href="/home" class="kheldo-brand">
      <ion-icon class="header-brand" name="game-controller"></ion-icon>
      <h1 class="brand-name">Kheldo</h1>
    </a>
  </div>

  <div class="nav-main-menu">
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li><a href="#" class="main-nav-link">Let's Play</a></li>
        <li><a href="#" class="main-nav-link">Reviews</a></li>
        <li><a href="#" class="main-nav-link">About us</a></li>
        <li><a href="#" class="main-nav-link">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
